*{
    margin: 0;
    padding: 0;
}
 /* body{
    /* background: linear-gradient(#f3cece(243,306,206) , #8e6565);
    background-repeat: no-repeat ; 
    background: linear-gradient(#00cc9c, #ff80d3);
    background-repeat: no-repeat ;
} */
.container{
     background-color: #e5e5fd; 
    min-height: 100vh;
    border: 10px solid #0a0a35;
}
.content{
    max-width: 900px;
    margin: 0 auto;
}
.top_section{
    margin: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.top_section h1{
    font-size: 33px;
    font-weight: bold;
    color: rgb(15, 15, 55);
    text-transform: uppercase;
}
.top_section h4{
    text-align: end;
    font-size: 20px;
}
.image_container{
    border-radius: 50%;
    overflow: hidden;
}
.image_container,img{
    width: 300px;
    height: 320px;
}
.about_section{
    margin-top: 50px;
}
.about_section h2{
    font-size: 70px;
    font-weight: 400;
    margin-bottom: 20px;
}
.about_section p{
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 1.2px;
    text-align: justify;
}
footer{
    margin: 50px 0;
}
footer p{
    text-align: end;
}
